
.boton {
    padding: 16px;
    font-size: 18px;
    width: 350px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background-color: #347E23;
    color: #ffffee;
    cursor: pointer;
}
  
  
  
  
  
  
  